extends layout

block content
  .row.justify-content-center
    .col-sm-6
      legend New Pet
      form#new-pet(action="/pets", method="post", enctype="multipart/form-data")
        .form-group
          label Name*
          input.form-control(name="name" required)

        .form-group
          label Birthday*
          input.form-control(name="birthday" required)

        .form-group
          label Species*
          input.form-control(name="species" required)

        // avatar file input (replaces picUrl & picUrlSq)
        .form-group
          label Avatar*
          input.form-control(type="file", name="avatar", accept="image/*")

        .form-group
          label Favorite Food*
          input.form-control(name="favoriteFood" required)

        .form-group
          label Description*
          textarea.form-control(name="description" minlength="140" required)

        .form-group
          label Price*
          input.form-control(type="number", name="price" min="0" step="0.01" required)

        .text-right
          button.btn.btn-primary(type="submit") Save
